<div class="profileWrap">
    <div class="profileHeader">
        <div class="profileHeaderLeft"></div>
        <div class="profileHeaderRight"></div>
    </div>
    <div class="profileMiddle">
        <div class="followNum"></div>
        <div class="followerNum"></div>
        <div class="likeNum"></div>
    </div>
    <div class="profileBottom">
        <div class="profileText">
        </div>
    </div>
    
</div>