<%= form_with(model: [post, comment] ) do |form| %>
  <div class="commentFormWrap">
    <%= form.text_area :body, class:"commentForm", placeholder:"筋トレ、ダイエットをしているユーザーに応援コメントをしましょう！" %>
  </div>
  <div class="actions">
    <%= form.submit "コメントをする", class:"commentFormSubmit" %>
  </div>
<% end %>