<div class="fixContainer">
    <h2>このサイトについて</h2>
    <p>このサイトはビギナー筋トレSNSです。 <br><br>
    インスタグラムなどのSNSに自分が運動したり,<br>
    筋トレした姿をアップしている人が増えていますよね。<br><br>
    でも、初めてばかりの人や普段からSNSに自撮りをあげていない人からすると<br>インスタ自撮りはちょっと抵抗があるように感じます。<br><br>
    そこで、運動をし始めた人、三日坊主で運動が終わってしまう人のために毎日ちょっとでも運動ができるようなサービスを作りました。</p>
</div>
