<div class="postContainer">
<% @posts.each do |post| %>
    <div class="post">
        <div class="postHeader">
            <div class="postHeaderLeft">
                <div class="icon">アイコン</div>
                <div class="username"><%= post.user.email %></div>
            </div>
            <div class="postHeaderRight">
                <div class="followButton">フォローボタン</div>
            </div>
        </div>
        <div class="postImage">
            画像が来ます。
        </div>
        <div class="postText">
            <%= post.text %>
        </div>
        <%= link_to post, method: :delete, data:{ confirm: "Are you sure you want to delete this tweeet?"}  do %>
            <span class="icon">ffff</span>
        <% end %>
    </div>
<% end %>
</div>
