<div class="container">
  <p>#<%= @tag.name %></p>
</div>
<br>
<div class="newPostList container">
    <% @posts.each do |post| %>
    <div class="newPostItem">
        <% if !post.image.blank? %>
            <%= link_to(post, class:"newPostLink") do %><!-- プレビューさせる -->
                <%= image_tag(post.image.to_s, class:"newPostImage")%>
            <% end %>
        <% end %>
    </div>
    <% end %>
</div>