//homeに関するcssです。

//welcome
.welcomeLetter{
    text-decoration: none;
    color: royalblue;
    font-size: 10px;
    margin-left: 10px;
    padding:8px;
    border:1px solid royalblue;
    border-radius: 4px;
}

//tab
.tabWrap{
    background-color: #FFF;
}
.tab{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #fff;
    border-top: #eee 1px solid;
    font-size:12px;
}
.tabLeft-active, .tabRight-active{
    color: royalblue;
    border-bottom: royalblue solid 2px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}
.tabLeft, .tabRight{
    color: royalblue;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}

//pages#aboutページに関するcssです。
.fixContainer{
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    width:90%;
    max-width: 600px;
    background-color: #FFF;
}

//pages#searchページに関するcssです。
.searchForm{
    font-size: 12px;
    width:100%;
    margin-top: 15px;
    resize:none;
    height:20px;
    border:solid 1px royalblue;
    border-radius: 4px;
    box-sizing: border-box;
}
.searchSubmit{
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
    background-color: royalblue;
    border:solid 1px royalblue;
    border-radius: 4px;
    color:#FFF;
    cursor: pointer;
    box-sizing: border-box;
}