//homeに関するcssです。

//welcome
.welcome{
    padding-top:30px;
    padding-bottom: 30px;
    background-color: lightblue;
    p{
        margin: 0;
        text-align: center;
    }
}
.welcomeLetter{
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    background-color: royalblue;
    padding:5px;
    border:1px solid royalblue;
    border-radius: 4px;
}

//tab
.tabWrap{
    background-color: #FFF;
}
.tab{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #fff;
    border-top: #eee 1px solid;
    font-size:12px;
}
.tabLeft-active, .tabRight-active{
    color: royalblue;
    border-bottom: royalblue solid 2px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}
.tabLeft, .tabRight{
    color: royalblue;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}


.newPostList{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.newPostItem{
    flex-basis: 33.3%;
    position: relative;
}
// 正方形にトリミング
.newPostItem:before{
    content:"";
    display:block;
    padding-top:100%;
}
.newPostLink{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.newPostImage{
    width:100%;
    height: 100%;
    line-height:1;
    position: absolute;
    bottom:0;
    border: 1px solid #fff;
    object-fit: cover;
}

//pages#aboutページに関するcssです。
.fixContainer{
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    width:90%;
    max-width: 600px;
    background-color: #FFF;
}
//pages#searchページに関するcssです。