//postページに関わるcssです。
.postContainer{
    .post{
        border:1px black solid;
        margin-bottom:10px; 
        .postHeader{
            display: flex;
            flex-direction: row;
            .postHeaderLeft{
                display: flex;
                flex-direction: row;
            }
            .postHeaderRight{
                margin-left:auto;
            }
        }
    }

}