.profileHeader{
    display: flex;
    flex-direction: row;
    .profileHeaderLeft{
        width:25%;
        .profileImage{
            .profileAvatar{
                //仮置き
                width:65px;
                height:65px;
                object-fit: cover;
                border-radius:50%;
            }
        }
    }
    .profileHeaderRight{
        width:70%;
        margin-right: 5%;
    }
}
.profileNumWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .profileNumLeft, .profileNumCenter, .profileNumRight{
        .profileNum{
            text-align: center;
        }
    }
}
.profileEdit{
    text-align: center;
    padding:10px;
    border: 1px solid black;
}

.profileImagesList{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.postedImageWrap{
    width:33.3%;
    height: 300px;
    .postedImage{
        object-fit: cover;
        width:100%;
        height:100%;
    }
}