.profileHeader{
    display: flex;
    flex-direction: row;
    .profileHeaderLeft{
        width:25%;
    }
    .profileHeaderRight{
        width:70%;
        margin-right: 5%;
    }
}
.profileNumWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .profileNumLeft, .profileNumCenter, .profileNumRight{
        .profileNum{
            text-align: center;
        }
    }
}
.profileEdit{
    text-align: center;
    padding:10px;
    border: 1px solid black;
}

.profileImagesList{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.postedImage{
    width:33.3%;
    height: width;
    background-color:red;
}